UPLOAD_IMAGE: 'UPLOAD_IMAGE'
EDIT_IMAGE: 'EDIT_IMAGE'
SQLALCHEMY_DATABASE_URI: 'mysql://dt_admin:dt_admin@localhost/avatar'
SECRET_KEY: 'b594481f-f3b2-49d0-9fc6-29c1d0859d2e'
ALLOWED_EXTENSIONS:
 - 'jpeg'
 - 'jpg'
 - 'png'
CONTENT_TYPE:
 - 'image/jpeg'
 - 'image/jpg'
 - 'image/png'